body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
}


table {
    display: none;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

th {
    background-color: #eee;
    padding: 10px;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

input[type="text"],
input[type="tel"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#formulario {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

h3 {
    display: none;
}